# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Binaries
*.exe
*.out
*.app

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/

# Miscellaneous
*.bak
*.tmp
*.swp

# npm package files
package-lock.json
yarn.lock

# Build directories
# dist/
# build/


# Local environment configurations
.env

# Temporary files
# .cache/
